<app-illustration />
<main>
    <div class="px-4 sm:px-6">
        <div class="mx-auto w-full max-w-3xl">
            <div class="mb-4">
                <p
                    class="bg-background text-foreground dark:bg-accent inline-flex items-center justify-center whitespace-nowrap rounded-full px-3 py-1 text-sm font-medium shadow-sm shadow-black/[.12]"
                >
                    <span class="border-border mr-2 flex shrink-0 border-r pr-2">
                        <svg fill="none" height="12" width="12" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6.958.713a1 1 0 0 0-1.916 0l-.999 3.33-3.33 1a1 1 0 0 0 0 1.915l3.33.999 1 3.33a1 1 0 0 0 1.915 0l.999-3.33 3.33-1a1 1 0 0 0 0-1.915l-3.33-.999-1-3.33Z"
                                class="fill-zinc-500"
                            />
                        </svg>
                    </span>
                    New releases every week
                </p>
            </div>

            <div class="mb-16">
                <h1
                    class="text-foreground mx-auto mb-4 max-w-3xl text-4xl/[1.1] font-extrabold tracking-tight md:text-5xl/[1.1]"
                >
                    Beautiful UI components built with Tailwind CSS and Angular.
                </h1>
                <p class="text-muted-foreground text-lg">
                    Origin UI is an extensive collection of copy-and-paste components for quickly building app UIs.
                    It&lsquo;s free, open-source, and ready to drop into your projects.
                </p>
            </div>

            <div class="mb-12">
                <h2 class="text-muted-foreground mb-5">Components</h2>
                <nav>
                    <ul class="flex flex-col gap-2">
                        <li>
                            <a
                                href="/inputs"
                                class="border-border bg-background hover:bg-accent hover:text-accent-foreground focus-visible:outline-ring/70 inline-flex w-full items-center justify-between whitespace-nowrap rounded-lg border p-4 font-bold shadow-sm shadow-black/5 outline-offset-2 transition-colors focus-visible:outline focus-visible:outline-2 disabled:pointer-events-none disabled:opacity-50 sm:h-14"
                            >
                                <span class="truncate">Input and Textarea</span>
                                <lucide-angular
                                    size="16"
                                    class="-mr-1 ml-2 shrink-0 opacity-60"
                                    [img]="ArrowRightIcon"
                                ></lucide-angular>
                            </a>
                        </li>
                        <li>
                            <a
                                href="/buttons"
                                class="border-border bg-background hover:bg-accent hover:text-accent-foreground focus-visible:outline-ring/70 inline-flex w-full items-center justify-between whitespace-nowrap rounded-lg border p-4 font-bold shadow-sm shadow-black/5 outline-offset-2 transition-colors focus-visible:outline focus-visible:outline-2 disabled:pointer-events-none disabled:opacity-50 sm:h-14"
                            >
                                <span class="truncate">Button</span>
                                <lucide-angular
                                    size="16"
                                    class="-mr-1 ml-2 shrink-0 opacity-60"
                                    [img]="ArrowRightIcon"
                                ></lucide-angular>
                            </a>
                        </li>
                        <li>
                            <a
                                href="/checks-radios-switches"
                                class="border-border bg-background hover:bg-accent hover:text-accent-foreground focus-visible:outline-ring/70 inline-flex w-full items-center justify-between whitespace-nowrap rounded-lg border p-4 font-bold shadow-sm shadow-black/5 outline-offset-2 transition-colors focus-visible:outline focus-visible:outline-2 disabled:pointer-events-none disabled:opacity-50 sm:h-14"
                            >
                                <span class="truncate">Checkbox, Radio, and Switch</span>
                                <lucide-angular
                                    size="16"
                                    class="-mr-1 ml-2 shrink-0 opacity-60"
                                    [img]="ArrowRightIcon"
                                ></lucide-angular>
                            </a>
                        </li>
                        <li>
                            <a
                                href="/selects"
                                class="border-border bg-background hover:bg-accent hover:text-accent-foreground focus-visible:outline-ring/70 inline-flex w-full items-center justify-between whitespace-nowrap rounded-lg border p-4 font-bold shadow-sm shadow-black/5 outline-offset-2 transition-colors focus-visible:outline focus-visible:outline-2 disabled:pointer-events-none disabled:opacity-50 sm:h-14"
                            >
                                <span class="truncate">Select</span>
                                <lucide-angular
                                    size="16"
                                    class="-mr-1 ml-2 shrink-0 opacity-60"
                                    [img]="ArrowRightIcon"
                                ></lucide-angular>
                            </a>
                        </li>
                        <li>
                            <a
                                href="/sliders"
                                class="border-border bg-background hover:bg-accent hover:text-accent-foreground focus-visible:outline-ring/70 inline-flex w-full items-center justify-between whitespace-nowrap rounded-lg border p-4 font-bold shadow-sm shadow-black/5 outline-offset-2 transition-colors focus-visible:outline focus-visible:outline-2 disabled:pointer-events-none disabled:opacity-50 sm:h-14"
                            >
                                <span class="truncate">Slider</span>
                                <lucide-angular
                                    size="16"
                                    class="-mr-1 ml-2 shrink-0 opacity-60"
                                    [img]="ArrowRightIcon"
                                ></lucide-angular>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</main>
